<div class="modal fade" id="required_hr" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activate day</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" #timeForm="ngForm">
                    <div class="form-group">
                        <label for="time">Required time:</label>
                        <input [(ngModel)]="requiredTime" type="time" id="time" name="time" placeholder="default: 450 min" />
                    </div>
                    <label class="radio-inline">
                        <input type="radio" value="min" name="unit" [ngModel]="unit"> min
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="hr" name="unit" [ngModel]="unit"> hr
                    </label>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="activateDay(timeForm)">OK</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>