<div class="modal fade" id="required_hr" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 i18n="Header for activate-day modal" class="modal-title">New workday</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" #timeForm="ngForm">
                    <div class="form-group">
                        <label i18n="Input required time" for="time">Required time:</label>
                        <input [(ngModel)]="requiredTime" type="text" id="time" name="time" placeholder="default: 450 min" />
                    </div>
                    <label class="radio-inline">
                        <input i18n="Radio button min" type="radio" value="min" name="unit" [ngModel]="unit"> min
                    </label>
                    <label class="radio-inline">
                        <input i18n="Radio button hr" type="radio" value="hr" name="unit" [ngModel]="unit"> hr
                    </label>

                </form>
            </div>
            <div class="modal-footer">
                <button i18n="Ok button" type="submit" class="btn btn-success" id="ok" data-dismiss="modal" (click)="activateDay(timeForm)">OK</button>
                <button i18n="Cancel button" type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>