<div class="modal fade" id="required_hr" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Required work hours</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" name="requiredTime"/>
                    <select name="unit">
                        <option>hr</option>
                        <option>min</option>
                    </select>                    
                </form>                            
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"  id="confirm-required" data-dismiss="modal">OK</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
