<div id="statistics">
    <div class="row">

        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Required minutes</th>
                        <th>Sum of day</th>
                        <th>Extra minutes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>450</td>
                        <td>660</td>                        
                        <td class="positive">210</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-offset-6"></div>
    </div>
</div>