<div id="statistics">
    <div class="row">

        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Required minutes</th>
                        <th>Sum of day</th>
                        <th>Extra minutes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{tasksService.workDayForStats?.requiredMinPerDay}}</td>
                        <td>{{tasksService.workDayForStats?.sumPerDay}}</td>
                        <td [ngClass]="tasksService.workDayForStats?.extraMinPerDay < 0 ? 'negative' : 'positive' ">
                            {{tasksService.workDayForStats?.extraMinPerDay}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-offset-6"></div>
    </div>
</div>