// styles in src/style directory are applied to the whole page
body {
    background: beige;    
    color: black;
}
a {
    color: #03A9F4;
}
.negative {
    color: red;
}
.positive {
    color: green;
}