<div id="statistics">
    <div class="row">

        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th i18n="Stats required minutes">Required minutes</th>
                        <th i18n="Stats sum of month">Sum of month</th>
                        <th i18n="Stats extra minutes">Extra minutes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{calendarService.monthForStats?.requiredMinPerMonth}}</td>
                        <td>{{calendarService.monthForStats?.sumPerMonth}}</td>
                        <td [ngClass]="calendarService.monthForStats?.extraMinPerMonth < 0 ? 'negative': 'positive'">
                            {{calendarService.monthForStats?.extraMinPerMonth}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-offset-6"></div>
    </div>
</div>