<div id="statistics">
    <div class="row">

        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Required minutes</th>
                        <th>Sum of month</th>
                        <th>Extra minutes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="required_min">200</td>
                        <td id="sum_of_month">150</td>                        
                        <td id="extra_min" class="negative">-50</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

        <div class="col-sm-offset-6"></div>
    </div>
</div>
